#!/bin/sh
ipfw -q -f flush

cmd="ipfw -q"
ext_if="wlan0"
ext_net="192.168.0.0/24"
int_net="192.168.1.0/24"

$cmd nat 1 config if $ext_if
$cmd add 00100 nat 1 all from any to any in keep-state
$cmd add 00100 allow all from $int_net to $ext_net
$cmd add 00100 allow all from $int_net to $int_net
$cmd add 00100 allow all from $ext_net to any
